table {
  width: 100%;
  font-size: clamp(10px, 2vw, 14px);
}

table thead {
  text-align: left;
  color: rgb(29, 29, 29);
}

table thead th {
  height: 30px;
}

table tbody {
  color: rgb(57, 57, 57);
}

td {
  vertical-align: center;
}

.card-box {
  border: 1px solid rgb(191, 191, 191);
  box-shadow: 0 3px 5px #0000004d;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  transition: 0.2s all ease;
  position: relative;
}

.history thead tr th:nth-child(1) {
  width: 20%;
}

.title {
  color: gray;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: rgb(90, 90, 90);
  padding: 5px;
  gap: 3px;
}

.pagination svg,
.pagination span {
  cursor: pointer;
  border-radius: 5px;
}

.pagination span {
  padding: 0 9px;
}

.pagination span:hover {
  text-decoration: underline;
}

.pagination svg:hover {
  background-color: rgb(229, 229, 229);
}

.active-page {
  background-color: #96a5fb;
  color: white;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.center .pagination {
  font-size: clamp(10px, 2vw, 17px);
}

.center .pagination svg {
  font-size: clamp(10px, 2vw, 17px);
}

.card-box.filter {
  margin-bottom: 10px;
}

.card-box.filter label{
    font-size: clamp(10px, 2vw, 14px);
    top: 5px;
}

.card-box.filter input {
    padding-left: clamp(45px, 10vw, 60px);
}
